<h2 class="content-block">Department Assignment</h2>

<dx-data-grid #departmentAssignmentGrid [dataSource]="departmentAssignmentSource">
  <dxo-editing
    [allowAdding]="true"
    [allowDeleting]="true"
  ></dxo-editing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-selection mode="row"></dxo-selection>
  <dxi-column dataField="departmentId" caption="Department Name">
    <dxo-lookup 
      [dataSource]="departmentDataSource"
      valueExpr="departmentId"
      displayExpr="departmentName"
    ></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="personId" caption="Email">
    <dxo-lookup 
      [dataSource]="activePeopleDataSource"
      valueExpr="personId"
      displayExpr="email"
    ></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="firstName" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="lastName" [allowEditing]="false"></dxi-column>


</dx-data-grid>
