<h2 class="content-block">Department</h2>

<dx-data-grid #departmentGrid [dataSource]=department (onSaving)="onDepartmentSaving($event)" (onRowInserted)="onDepartmentInserting($event)">
  <dxo-editing
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        mode="row">
    </dxo-editing>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-selection mode="single"></dxo-selection>
  <dxi-column dataField="departmentId" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="departmentName"></dxi-column>
  <dxi-column dataField="abbrDepartmentName"></dxi-column>
</dx-data-grid>
